/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Property {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #3167eb;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #fa3434;
  --orange: #ff9017;
  --yellow: #ffc107;
  --green: #00b517;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray-dark: #343a40;
  --primary: #3167eb;
  --secondary: #545454;
  --success: #00b517;
  --info: #17a2b8;
  --warning: #ff9017;
  --danger: #fa3434;
  --light: #e4e4e4;
  --dark: #212529;
  --primary-light: #5f89f0;
  --gray: #545454;
  --gray-light: #969696;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Inter", Arial, "Helvetica Neue", "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-family: "Inter", Arial, "Helvetica Neue", "Segoe UI", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.rent {
  text-align: left;
  letter-spacing: -0.7px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 600;
  color: #212529;
}

.property-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

.property-title {
  text-align: left;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.3;
  font-size: 1.25rem;
  color: #212529;
  display: block;
}

.info-aside {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  border-left: 1px solid #e4e4e4;
  height: 100%;
}

.img-thumbnail-custom {
  height: 25%;
  width: 25%;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-link > h3 {
  margin-bottom: 0em;
}
